@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #2b2b35;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
    padding: 40px 0;
}

.memoalloc-card {
    color: #ffffff;
    border-radius: 20px;
    padding: 40px;
    width: 70%;
}

.memoalloc-card h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}

.partition-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.form-control {
    background-color: #2c2c36;
    color: white;
    border: 1px solid #444;
}

.form-select, .form-control {
    background-color: #3b3b47;
    color: #fff;
    border: none;
}

.form-select:focus, .form-control:focus {
    background-color: #3b3b47;
    color: #fff;
    box-shadow: none;
}

.form-control::placeholder {
    color: #ccc;
    opacity: 1;
}

.btn-pink {
    background-color: #52616B;
    color: #d0d0d0;
    font-weight: 600;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

.btn-pink:hover, .btn-add:hover {
    background-color: #F0F5F9;
    color: #2b2b35;
}

.circle-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.btn-add {
    background-color: #52616B;
    margin-right: 0.5rem;
}

.btn-remove,
.btn-danger.rounded-circle {
    background-color: #ff5c5c !important; /* merah */
    width: 48px !important;
    height: 48px !important;
    font-size: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    border: none !important;
    transition: 0.3s ease;
}

.btn-remove:hover,
.btn-danger.rounded-circle:hover {
    background-color: #e14a4a !important;
}

.table {
    background-color: transparent !important;
    color: #fff !important;
    border-color: white;
}

.table th, 
.table td {
    background-color: transparent !important;
    /* border: none !important; */
    color: #fff !important;
}

#resultExplanation {
    color: #fff;
}

/* #resultTable td, #resultTable th {
  border: 1px solid #666 !important;
  text-align: center;
  vertical-align: middle;
}

#resultTable i {
  color: #bbb;
  font-size: 0.9em;
} */

.result-card {
    color: #ffffff;
    border-radius: 20px;
    padding: 40px;
    width: 70%;
}

.result-card h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
